
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
img{vertical-align: middle;}
ul,li{
    text-decoration: none;
    list-style-type: none;
}
footer{
    background-color:#19242e ;
    background-image: url(Images/Shape-Footer.svg);
    background-size: auto 100%;
    background-repeat: no-repeat;
    width: 100%;
}
.list-container{
    display: flex;
    flex-wrap: wrap;
}
.main-list{
    margin: 2% 0;
    width: 15%;
    margin-top: 2%;
    margin-right:1% ;
}
.list{margin-top: 7%;}   
.list-head{
    color: white;font-size: 24px;font-weight: bold;
}   
.start{
    margin-right: 5%;
}
.last-list{
    margin-bottom:20% ;
}
.line{
    width: 90%;
    color: rgb(161, 161, 161);
    margin-left:5%;
}
.bottom-footer{
    font-size: 14px;
    position: relative;
    margin: 2% 5% ;
    color: #999;
    padding-bottom: 3%;
    display: flex;
}
.footer-logo{
    transform: translateY(20%);
}
.social-media{height: 20px;width: 20px;margin: .5%}
.distance{width: 2%;}
.icon-container{
    display: flex;
    position: absolute;
    left: 0%;
}
.site-copyrigth{
    width: 75%;
}
.site-name{
    color: white;
    margin-left:3%;
}
.icon{margin-right: 10px;height: 20px; width:20px; }
.list-link{color: #999;}
.bottom-footer-cp{
    width: 75%;
    display: block;
}
@media screen and (max-width : 1100px) {
    .bottom-footer{
        display: block;
        font-size: 12px;
    }
    .site-copyright{display: block;width: 70%;}
    .icon-container{display: block;margin-top: -2.5%;}
    .start{
        margin-right: 0%;
    }
    .main-list{
        width: 30%;
        /* margin-left: 3%; */
        margin-right: 3.3%;
    }
}
@media screen and (max-width : 900px) {
    /* .icon-container{display: block;margin-top: -2%;} */
}

@media screen and (max-width : 600px) {
    .main-list{
        width: 45%;
        margin-top: 10%;
        margin-right:5% ;
    }
    .site-copyright{margin: 3% 0;width: 100%;}
    .icon-container{margin-top: -5%;}
    .bottom-footer-cp{
        width: 60%
    }
}